<div class="container-fluid">
  <table class="table">
    <thead>
      <!-- ... -->
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td>
            <%= form_for(todo, remote: true, url: toggle_check_todo_path(todo), method: :patch) do |f| %>
              <%= f.check_box :check, class: "check-box", data: { toggle_path: toggle_check_todo_path(todo) } %>
            <% end %>
          </td>
          <td>
            <a class="navbar-brand" href="<%= todo_path(todo) %>"><%= todo.task %></a>
          </td>
          <td>
            <!-- Add any additional columns as needed -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<!-- Include the following JavaScript at the bottom of your HTML file -->
<script>
 document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.check-box').forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      var togglePath = checkbox.dataset.togglePath;
      var csrfToken = document.querySelector('meta[name="csrf-token"]').content;

      fetch(togglePath, {
        method: 'PATCH',
        headers: {
          'X-CSRF-Token': csrfToken,
          'Content-Type': 'application/json',
        },
      })
      .then(response => response.ok ? response.json() : Promise.reject('Request failed'))
      .then(data => {
      })
      .catch(error => console.error('AJAX error:', error));
    });
  });
});

</script>
