.button-container {
      display: flex;  
      margin-left: 20px 12;
      margin-right: 20px 12;
}
.button-container .btn {
  margin-right: 10px; /* Adjust the margin as needed */
}
.hidden-label {
  display: none;
}
