<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">To Do List</a>
    <a class="navbar-brand" href="<%= new_todo_path %>">Add New Task</a>
  </div>
</nav>